/*Font and text*/
body {
    font-family: 'Helvetica';
    text-align: center;
}
h1 {
    font-size: 70px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 23px;
    font-weight: bold;
}
h4 { 
    font-size: 18px;
    font-weight: normal;
}
p {
    font-size: 14px;
}
a {
    color: white;
}
/*div elements*/

/*header*/
.header {
    color: white;
    background-image: url(the-flatiron-building.png);
    width: 100%;
    background-repeat: no-repeat;
    
}
/*mid section splash*/
.designnyc {
    color: white;
    background-image: url(the-flatiron-building.png);
    width: 100%;
    font-size: 23px;
    font-weight: bold;
}
/*footer*/
.footer {
    color: white;
    background-color: dimgray;
    text-align: left;
    padding: 5px;
}
.footer p {
    font-size: 11px;
}
.footer a {
    font-size: 18px;
}